@model MyStore.Models.Produits
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

<h1>Edit</h1>

<h4>Produits</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Improd" class="control-label"></label>
                <input asp-for="Improd" class="form-control" />
                <span asp-validation-for="Improd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Namprod" class="control-label"></label>
                <input asp-for="Namprod" class="form-control" />
                <span asp-validation-for="Namprod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descprod" class="control-label"></label>
                <input asp-for="Descprod" class="form-control" />
                <span asp-validation-for="Descprod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priprod" class="control-label"></label>
                <input asp-for="Priprod" class="form-control" />
                <span asp-validation-for="Priprod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discprod" class="control-label"></label>
                <input asp-for="Discprod" class="form-control" />
                <span asp-validation-for="Discprod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
